.debug-grid {

    display: none;
    z-index: 100;

    .debug & {
        display: block;
        position: fixed;
        width: 100%;
    }

    &__column {
        @include span(1);

        height: 100vh;
        outline: 1px solid black;
        opacity: 0.2;
    }

    &__column-inner {
        height: 100%;
        background-color: black;
    }
}

@include at-fox {
    .debug-grid__column {
        @include span(1);
    }
}

@include at-rabbit {
    .debug-grid__column {
        @include span(1);
    }
}

@include at-mouse {
    .debug-grid__column {
        @include span(1);
    }
}
