/*
    Variables
*/

/*
Structure
*/
$width-page: 1440px;
$magic-number: 50px;

/*
Breakpoints
*/
$breakpoint-bear: $width-page;
$breakpoint-wolf: 1040px;
$breakpoint-fox: 800px;
$breakpoint-rabbit: 600px;
$breakpoint-mouse: 480px;

/*
Susy Configs
*/
$susy: (
    columns: 12,
    gutters: 30/60,
    gutter-position: inside,
    global-box-sizing: border-box
);

$susy-wolf: $susy;

$susy-fox: (
    columns: 6,
    gutters: 40/90
);

$susy-rabbit: (
    columns: 6,
    gutters: 40/60
);

$susy-mouse: (
    columns: 1,
    gutters: 45/195
);

/*
Fonts
*/
$base-font-size: 16px;

/*
Colours
*/

/*
Colours in context
*/
