<div class="debug-grid">
	<div class="container">
		<div class="debug-grid__column"><div class="debug-grid__column-inner"></div></div>
		<div class="debug-grid__column"><div class="debug-grid__column-inner"></div></div>
		<div class="debug-grid__column"><div class="debug-grid__column-inner"></div></div>
		<div class="debug-grid__column"><div class="debug-grid__column-inner"></div></div>
		<div class="debug-grid__column"><div class="debug-grid__column-inner"></div></div>
		<div class="debug-grid__column"><div class="debug-grid__column-inner"></div></div>
		<div class="debug-grid__column"><div class="debug-grid__column-inner"></div></div>
		<div class="debug-grid__column"><div class="debug-grid__column-inner"></div></div>
		<div class="debug-grid__column"><div class="debug-grid__column-inner"></div></div>
		<div class="debug-grid__column"><div class="debug-grid__column-inner"></div></div>
		<div class="debug-grid__column"><div class="debug-grid__column-inner"></div></div>
		<div class="debug-grid__column"><div class="debug-grid__column-inner"></div></div>
	</div>
</div>
