<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB">
	<head>
		<meta charset="utf-8" />
		<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="home" href="{{ siteUrl }}" />
		{% includeCssFile "/assets/css/main.css" %}
		{% includeCssFile "/assets/css/icons.css" %}
		{% include '_partials/favicons' ignore missing %}
	</head>
	<body>
		{% include '_partials/grid-overlay' %}

		<header>
			<h1>{{ siteName }}</h1>
		</header>
