<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ craft.config.locales[craft.locale].languageCode }}">
	<head>

		{% include '_partials/meta' with {
			'url' : entry.getUrl(),
			'title' : entry.title,
			'description' : entry.description,
			'image' : (entry.leadImage is not empty ? entry.leadImage.first().getUrl() : false),
			'type' : 'website'
		} only %}

		{% include '_partials/favicons' ignore missing %}

		<script>
			{% include '_partials/inline/loadcss.js' %}

			loadCSS("/assets/css/main.css");
			loadCSS("/assets/css/icons.css");
			loadCSS("/assets/css/fonts.css");
		</script>
	</head>
	<body>
		{% include '_partials/grid-overlay' ignore missing %}

		<header>
			<h1>{{ siteName }}</h1>
		</header>
