{% if lazyLoad is not defined %}
	{% set lazyLoad = true %}
{% endif %}

{% if alt is not defined %}
	{% set alt = image.title %}
{% endif %}

{% set srcAttr = lazyLoad ? 'data-srcset' : 'srcset' %}

<picture class="image-container{% if fixedHeight %} image-container--fixed-height{% else %} image-container--fluid-height{% endif %}">
	<!--[if IE 9]><video style="display: none;"><![endif]-->
	<source {{ srcAttr }}="{{ transforms.getTransform(image, transform, 'bear') }}" media="(min-width: 1041px)">
	<source {{ srcAttr }}="{{ transforms.getTransform(image, transform, 'wolf') }}" media="(min-width: 801px)">
	<source {{ srcAttr }}="{{ transforms.getTransform(image, transform, 'fox') }}" media="(min-width: 601px)">
	<source {{ srcAttr }}="{{ transforms.getTransform(image, transform, 'rabbit') }}" media="(min-width: 481px)">
	<source {{ srcAttr }}="{{ transforms.getTransform(image, transform, 'mouse') }}">
	<!--[if IE 9]></video><![endif]-->
	<img {{ srcAttr }}="{{ transforms.getTransform(image, transform, 'mouse') }}" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="{{ alt }}" class="image__image{% if lazyLoad %} js-lazyLoad{% endif %}">
</picture>
{% if lazyLoad %}<span class="visuallyhidden" href="{{ image.getUrl() }}"></span>{% endif %}
